<div class="container" [ngClass]="{'alertaRoja': tema.dificultad === 'alta', 'alertaVerde': tema.dificultad === 'baja'}">
    @if (mostrarTitulo){
        <div class="home__title">
            <h1>{{titulo}}</h1>
        </div>
    }
    <div class="home__content">
        <p>Soy un ingeniero mecatronico con experiencia en el desarrollo de soluciones innovadoras para el sector
            financiero.
            Mi enfoque se centra en la integración de tecnologías mecánicas, electrónicas y computacionales para
            resolver desafíos complejos en el entorno financiero.</p>
        <button [disabled]="!activo" (click)="saludar()"> Ejemplo </button>
        
    </div>
</div>

<div class="container">
    <table id="tablaProductos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track $index) {
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.categoria}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button (click)="toggleElTitulo()">Toggle Titulo</button>