body {
    background-image: url('https://www.fiftysounds.com/images/graphics/white-low-poly-background-338.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}